<div class="Navbar">
    <ul>
        <li><a href="#placeholder">Home</a></li>
        <li><a href="#placeholder">Inventaire</a></li>
        <li><a href="#placeholder">Merch</a></li>
        <li><a href="#placeholder">Admin</a>
            <ul class="Dropdown-content">
                <a href="{% url 'ArtistList' %}">Artiste</a>
                <a href="{% url 'GroupList' %}">Groupe</a>
                <a href="{% url 'MerchList' %}">Merch</a>
                <a href="{% url 'MerchTypeList' %}">Type de merch</a>
            </ul>
        </li>
        <li><a href="#placeholder">Compte</a></li>
    </ul>
</div>
