<div class="Navbar">
    <ul>
        <li><a href="#placeholder">Home</a></li>
        <li><a href="#placeholder">Inventaire</a></li>
        <li><a href="#placeholder">Merch</a></li>
        <li><a href="#placeholder">Admin</a>
            <ul class="Dropdown-content">
                <a href="#placeholder">Artiste</a>
                <a href="#placeholder">Groupe</a>
                <a href="#placeholder">Merch</a>
                <a href="#placeholder">Type de merch</a>
            </ul>
        </li>
        <li><a href="#placeholder">Compte</a></li>
    </ul>
</div>
